.list {
  padding: 0px 0;
}

.list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list li {
  margin-bottom: 30px;
}

.list .item a {
  display: flex;
}

@media (min-width:768px) {
  .list .item a {
    gap: 40px;
  }
}

.list .item a figure { 
  max-width: 50%;
  aspect-ratio: 4/3;
  flex-shrink: 0;
}

.list .item a .list_item_image {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.list .item a .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.info-group {
  display: flex;
  gap: 10px;
}

.info-group img.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.info-group .author {
  display: flex;
  flex-direction: column;
  font-size: small;
  opacity: 0.8;
}
